* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************************************ */
/* ******** MOBILE FIRST CSS!! ******** */
/* ************************************ */

body {
    text-align: center;
    background-color: azure;
    color: #02bdce;
}

/* header {

} */

h1,
h2,
h3 {
    padding: 1em;

}

#panicBtn {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: auto;
}

div {
    background-color: lightblue;
    padding: 1em 0;
    cursor: pointer;
    margin-bottom: 5px;
}

#shopContainer {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

/* #shopContainer {

} */

@media screen and (min-width:900px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #clicker {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #shopContainer {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}