* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

img,
button {
    display: block;
}

/* ************************************ */
/* ******** MOBILE FIRST CSS!! ******** */
/* ************************************ */

body {
    font-family: comic sans ms;
    text-align: center;
    background-color: white;
    color: #78925e;
}

p {
    line-height: 165%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 500%;
    color: #555555;
    letter-spacing: -4px;
    padding: 1.5em 2% 2em 2%;
}

#clicker {
    margin: 0 2% 5em 2%;
}

#panicBtn,
#shopContainer,
#save,
#play {
    width: 100%;
    max-width: 300px;
}

#panicBtn {
    height: auto;
    margin: 0 auto 3em auto;
    transition: transform .7s ease-in-out;
}

#panicBtn:hover {
    transform: rotate(360deg);
}

#clicker p:first-of-type,
#cps {
    font-size: 200%;
}

#clicker p:last-of-type {
    margin-bottom: 4em;
}

#total {
    font-size: 300%;
}

#total,
#cps {
    z-index: 10;
}

#save, #play {
    margin: 0 auto 12px auto;
    padding: 1em;
}

#shopContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#shopContainer>h2 {
    font-size: 200%;
}

#shopContainer>p {
    margin-bottom: 3em;
}

button {
    padding: 0.5em 0;
    border: none;
}

button, #panicBtn, #close {
    cursor: pointer;
}

button h2 {
    margin-bottom: 0.3em;
}

button[disabled] {
    cursor: not-allowed;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    padding: 12em 2% 5em 2%;
}

footer p {
    margin-top: 2em;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#popup {
  animation-name: fadeIn;
  animation-duration: 1s;
} 

#popup {
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    background-color: rgb(250, 247, 223);
    position: fixed;
    top: 10%;
    right: 10%;
    left: 10%;
    bottom: 10%;
    border-radius: 20px;
    z-index: 20;
}

.scrollBox {
    margin: 2em 0;
    padding: 1.5em;
    overflow: scroll;
}

.scrollBox p:first-of-type {
    margin-bottom: 2em;
}

#close {
    font-size: 40px;
    color:#333333;
}

@media screen and (min-width:900px) {

    /* create grid display for larger screens */
    header {
        padding: 3em;
    }

    h1 {
        padding: 2em 2% 2.5em 2%;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #clicker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #shopContainer {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}