* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************************************ */
/* ******** MOBILE FIRST CSS!! ******** */
/* ************************************ */

body {
    text-align: center;
    background-color: azure;
    color: #02bdce;
}

/* header {} */

#panicBtn {
    background-color: red;
    width: 100px;
    height: 100px;
}

div {
    background-color: lightblue;
    padding: 1em 0;
    cursor: pointer;
    margin-bottom: 5px;
}

#shopContainer {
    max-width: 300px;
    margin: auto;
}