* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************************************ */
/* ******** MOBILE FIRST CSS!! ******** */
/* ************************************ */

body {
    text-align: center;
    background-color: azure;
    color: #02bdce;
    font-family: comic sans ms;
}

header {
    padding: 1em;
}

h1 {
    padding: 1em;
}

h1 {
    font-size: 400%;
}

#panicBtn {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: auto;
}

div {
    background-color: lightblue;
    padding: 1em 0;
    cursor: pointer;
    margin-bottom: 5px;
    opacity: 0.3;
}

#shopContainer {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

/* #shopContainer {
} */

button[disabled] {
    cursor: not-allowed;
}

@media screen and (min-width:900px) {
  /* create grid display for larger screens */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #clicker {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #shopContainer {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}