* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    color:#02bdce;
}

#panicBtn {
    background-color: red;
    width: 100px;
    height: 100px;
}